<!-- Banner con fondo de mapa y gradiente oscuro -->
<div class="hero-header position-relative text-center text-white d-flex flex-column justify-content-center align-items-center"
     style="background-size: cover; background-position: center; height: 250px;">
     <!-- background-image: url('geohn.png'); -->

  <!-- Capa oscura superpuesta -->
  <div class="position-absolute top-0 start-0 w-100 h-100"
       style="background: rgba(22, 160, 133, 0.6)"></div>

  <!-- Contenido del banner con texto -->
  <div class="position-relative" style="z-index: 2;">
    <!-- Línea con logo + GeoHN -->
    <div class="d-flex align-items-center justify-content-center mb-2">
      <img src="assets/icons/geohnVm.png" alt="Logo" style="width: 240px; height: auto;" class="me-2">
      <!-- <h1 class="display-4 fw-bold text-shadow m-0">GeoHN</h1> -->
    </div>

    <!-- Subtítulo -->
    <p class="fs-5 text-shadow m-0 subtitulo">Información geoespacial de Honduras</p>
  </div>

